{% extends 'Layout.html' %}

{% block pk %}{{ username }}{% endblock %}
{% block css %}
    <style>
        .non-editable {
            pointer-events: none; /* 禁止用户点击 */
            background-color: #e9ecef; /* 改变背景为灰色，表示只读状态 */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card border-secondary mt-1 col-12 fs-5" style="height: 93vh">
        <div class="card-header text-center">
            {{ title }}
        </div>
        <div class="card-body col-4 offset-4 text-dark">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-lg col-12" value="确定">
            </form>
        </div>
    </div>
{% endblock %}

{% block list %}
    <li class="breadcrumb-item active" aria-current="page">
        个人信息
    </li>
{% endblock %}

{% block script %}
{% endblock %}